/*At global css are all the web pages styles*/
@import"./global.css";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
@import"https://fonts.google.com/specimen/IBM+Plex+Mono?preview.text_type=custom";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* the imported font styles*/
:root{
    --font-familySans: 'IBM Plex Sans';
    --font-family2Mono: 'IBM Plex Mono';
    --font-familiSansBold: 'IBM Plex Sans', sans-serif;

}
html{
    font-size: 62.5%;
    
}
body{

    width: 100%;
    display: flex;
    flex-direction: column;
}
/*A class to get back fromt the top of the web page*/
.espacio_header{
    width: 100%;
    height: 39px;
}

